html, body {
    min-height: 100%;
    width: 100%;
}

nav {
    background: transparent !important;
    border: transparent !important;
    padding-bottom: 0;
    margin-bottom: 0;
}

.jumbotron {
    padding-bottom: 0;
    padding-top: 0;
}

body {
    height: 100%;

    background-image: url("../images/bg-2.jpeg");
    background-size: cover;
    background-repeat:   no-repeat;

    font-family: "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

#btnNotify {

    width: 30%;

    color: white;
    background: none;

    border: 2px solid white;
    border-radius: 37px;

    padding-top: 7px;
    padding-bottom: 7px;

}
#txtEmail {
    width: 65%;
    margin-right: 5%;
    margin-bottom: 1em;

    padding: 7px;
    font-size: 1em;

    outline: none;
    color: #fff;

    font-weight: 300;
    background: none;
    box-shadow: none;

    border: 1px none #fff;
    border-bottom: 2px solid #fff;
    transition: border-color 0.5s;

    float: left;
}

#txtEmail::placeholder {
    color: #FFF;
    font-size: 1em;
}

h2 {
    font-weight: bolder;
    text-transform: uppercase;
}
h4 {
    font-size: 1.2rem;
    color: #F0FFFF;
}
h3 {
    font-size: 2.3rem;
    color:#F0FFFF;
}
.navbar-brand {
    font-size: 2.5rem;
}


.navbar-brand.title-class {
    color: #fafbfc;
}

.heading {
    size:0px;
}
#heading-2 {
    font-color:#F0FFFF;
}
#subheading {
    font-size: 1.5rem;
    font-color: #F0FFFF;
}

#heading-jumbo {
    padding: 0;
    color: #f0ffff;
    background-color: transparent;
    border: none;
}

.share-icon {
    width: 31px;
    height: 31px;
}

.email123 {
    font-weight: bold;
    color: #F0FFFF;
    font-size: 1.1em;
}

#last-row {
    padding-bottom: 1em;
}

.submit {
    font-weight: bolder;
}

#row-2 {
    padding-bottom: 1rem;
}

#form-2 {
    padding-bottom: 2rem;
}

#navbar-button {
    background: none;

    background-image: url("../images/icon-fb.png");
}

@media screen and (min-width: 768px) {
    #txtEmail {
        width: 75%;
    }
    #btnNotify {
        width: 20%;
    }
/*    #sign-container, #copyright-container {
        position: relative;
    }
    #sign, #copyright {
        position: absolute;
        right: 0;
    }
*/}
